.userPhoto{
    background-color: silver;
    width: 100px;
    height: 100 px;
}

.selectedPage{
    font-weight: bold;
    font-size: larger; 
    letter-spacing: 5px;       
}

.pageSelector{
    letter-spacing: 5px;
    word-spacing: 10px;
}
