.content{
  grid-area: c;
background-color: cornflowerblue;

}

.descriptionBlock {
  padding: 10px;
}

.mainPhoto{
  max-width: 200px;
}

.contact{
  padding-left: 10px;
}

.profileForm{
  background-color: cyan;
}

.formSummaryError
{
  border: 5px solid red;
  padding: 5px;
  color: darkred;
  background-color: salmon;
}